/** @format */

.product_container {
  margin: 5px;
  border-radius: 5px;
  flex-direction: column;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.2s;
}
.product_container:hover {
  display: block;
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
}
.product_img {
  margin: 10px;
  object-fit: cover;
  width: 330px;
  height: 300px;
}
.product_details {
  display: none;
}
.product_img:hover + .product_details {
  display: block;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 10px;
}
.details_container {
  background-color: #ccd1e4;
}
.single_img {
  width: 600px;
  height: 500px;
  object-fit: cover;
}
.add_cart_btn {
  color: #fa9e92;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background: #1f76a5;
  border: 1px #fad9d4 solid;
}
.product_details_text > h1 {
  color: #ff725f;
  margin: 50px 0 10px;
}
.product_details_text > p {
  font-size: 16px;
}
.product_details_text > div {
  margin: 40px 0;
}
