/** @format */

.product_container {
  margin: 10px;
  border-radius: 5px;
  flex-direction: column;
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-delay: 0.2s;
}
.product_container:hover {
  display: block;
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
}
.product_img {
  margin: 10px;
  object-fit: cover;
  width: 330px;
  height: 300px;
}
.product_details {
  display: none;
}
.product_img:hover + .product_details {
  display: block;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 10px;
}
